@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PTSerif-Regular.woff') format('woff')
}

@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/PTSerif-Bold.woff') format('woff')
}

@font-face {
  font-family: 'CerebriSans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/CerebriSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'CerebriSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CerebriSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CerebriSans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/CerebriSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'CerebriSans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/CerebriSans-SemiBold.woff') format('woff');
}
