.bg-green-primary{
    background-color: var(--eden-green-primary);
}
.bg-grey-quinary{
    background-color: var(--eden-grey-quinary);
}
.text-green-primary{
    color: var(--eden-green-primary) !important;
}